.video-list-container {
  width: 100%;
  max-width: 1280px;
}

.video-list-container ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 40px;
  box-sizing: border-box;
}

ul {
  padding: 0 !important;
  margin: 0;
}

li {
  list-style: none;
}

.video-list {
  position: relative;
  display: flex;
  width: 100%;
  width: 500px;
  border-radius: 2px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  background: #ffffff;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.15);
  padding: 10px;
  box-sizing: border-box;
}

.video-list img {
  border-radius: 2px 0 0 2px;
}

.video-list .details {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.video-list .details span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 11px;
  color: grey;
}
