.videoContainer {
  box-shadow: 8px 12px 50px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 660px) and (max-width: 992px) {
  .videoContainer {
    width: 640px !important;
    height: 360px !important;
  }
}

@media only screen and (max-width: 659px) {
  .videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: auto !important;
    overflow: hidden;
    margin: 0;
    width: 100% !important;
  }

  .videoContainer iframe,
  .videoContainer object,
  .videoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
