#table-of-contents {
  padding: 20px 45px;
  box-sizing: border-box;
  width: 22%;
  min-width: 250px;
  position: fixed;
  top: 70px;
  left: 0;
}

@media only screen and (max-width: 991px) {
  #table-of-contents {
    display: inline-block;
    background: white;
    padding: 15px !important;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 170px;
    min-width: unset;
    left: unset;
    z-index: 10;
    box-shadow: 8px 12px 50px rgba(0, 0, 0, 0.15);
  }

  .slide-in {
    animation: slide-in 0.3s ease-in-out;
  }

  .slide-out {
    animation: slide-out 0.3s ease-in-out;
  }

  @keyframes slide-in {
    25% {
      right: -130px;
    }
    50% {
      right: -90px;
    }
    75% {
      right: -45px;
    }
    100% {
      right: 0px;
    }
  }

  @keyframes slide-out {
    25% {
      right: -45px;
    }
    50% {
      right: -90px;
    }
    75% {
      right: -130px;
    }
    100% {
      right: -170px;
    }
  }

  #table-of-contents ul {
    padding-left: 25px !important;
  }
}

#table-of-contents .share li {
  margin: 15px 0;
}

#table-of-contents h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

#table-of-contents ul {
  padding-left: 50px;
}

#table-of-contents ul li a {
  color: #616161;
  margin: 5px 0;
  font-size: 1rem;
}

#table-of-contents ul li a:hover {
  color: #000000;
}
