.navbar {
  width: 100%;
  max-width: 1280px;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-offset {
  height: 70px;
}

h5 {
  line-height: none;
  margin: unset;
}

#navbar-container {
  width: 100%;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin: 0 0 0 1.5em;
  color: #495057;
}

.search-container {
  width: 300px;
  justify-content: center;
}

.search-container .search {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  box-shadow: 8px 12px 50px rgba(0, 0, 0, 0.15);
}

.search-container .search input,
.search-container .search input:focus {
  height: unset !important;
  margin: unset !important;
  border: unset !important;
  width: 92.5% !important;
  box-shadow: unset !important;
  margin: 0 5px !important;
  outline: none;
  caret-color: #00838f;
}

.subs {
  position: relative;
  font-weight: 500;
  font-size: 1.1rem;
}

.subs .badge {
  position: absolute;
  top: -14px;
  right: -8px;
  background-color: #03dac5;
  color: #323545;
  font-size: 12px;
  border-radius: 12px;
  min-width: 2.4rem;
}

.links {
  font-size: 1.1rem;
  font-weight: 500;
  color: #616161;
}

.links:hover {
  color: #000000;
}

.active {
  color: #03dac5 !important;
}

@media only screen and (max-width: 850px) {
  .hide-searchbar {
    display: none;
  }

  .show-searchbar-med {
    display: inline-block !important;
  }

  .navbar ul li {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .subs {
    display: none;
  }

  .show-searchbar-med {
    display: none !important;
  }

  .show-searchbar-small {
    display: inline-block !important;
  }

  .navbar ul li {
    margin-left: 1rem;
  }

  .show-badge {
    display: inline-block !important;
  }

  .badge {
    background-color: #03dac5;
    color: #323545;
    font-size: 12px;
    border-radius: 12px;
    min-width: 2.4rem;
    margin-left: unset !important;
  }
}
